@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('BebasNeue-Regular.eot');
  src: url('BebasNeue-Regular.otf') format('truetype'),
       url('BebasNeue-Regular.woff') format('woff'),
       url('BebasNeue-Regular.woff2') format('woff2'),
       url('BebasNeue-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  }

strong {
  padding: 10px 16px; text-align: center ; font-family: BebasNeue-Regular; font-size: 30px; font-weight: bold; color: #90b5bb ;line-height: 2
}
h1 {
  padding: 10px 16px; text-align: center ; font-family: BebasNeue-Regular; font-size: 30px; font-weight: bold; color: #036f7b ;line-height: 2
}
p{
  padding: 10px 16px; font-family: Arial, Helvetica, sans-serif; text-align: center ; font-size: 20 px; color: vil ; line-height: 2;
}

img { border: 20px ;
  padding: 15px;
  color: #999;
}


